/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------- RESET END ----------------------------------- */

.test {
  color: red;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: lightgray;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);
}

#header--container {
  grid-row: 1 / 2;
  grid-column: 1 / 13;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: lightblue;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));

  min-height: 5rem;
}

#link--container {
  display: flex;
}

li {
  margin-left: 2rem;
}

a {
  padding: 0.5rem;
}
.header--link:hover {
  /* background-color: lightgray; */
  border-bottom: 2px solid black;
}
.App {
  grid-row: 1 / 13;
  grid-column: 1 / 13;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);

  /* background: url("../images/wood.jpg") no-repeat center center; */
}

#home--container {
  grid-row: 3 / auto;
  grid-column: 2/ 6;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff8f0;
  border-radius: 10px;
  min-width: 17rem;
}

.home--description {
  padding: 2rem;
  min-width: 15rem;
}

#btn--home {
  margin: 0rem 2rem 1rem 2rem;
  padding: 0.5rem;
  width: 15rem;
}

#product--container {
  grid-row: 4;
  grid-column: 3/ 11;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff8f0;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

.totalPrice--container {
  display: flex;
}

.card--image,
.totalPrice--container,
.card--price,
.item--price,
.shopping--header,
.card {
  align-self: center;
}

.card--description,
h1,
.card--price,
.card--amount,
.item--price {
  padding: 1rem;
}

.btn--amount {
  min-width: 2.5rem;
}

.shopping--container {
  grid-row: 3;
  grid-column: 4/ 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
